udemy/**/day_001-1.py
udemy/**/.idea/100days.iml
udemy/**/.idea/misc.xml
udemy/**/.idea/modules.xml
udemy/**/.idea/vcs.xml
udemy/**/.idea/workspace.xml
udemy/**/.idea/inspectionProfiles/profiles_settings.xml
.idea/*
.venv/*
*__pycache__*